@font-face {
  font-family: 'prompt_thin';
  src: url('../source/prompt/Prompt-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prompt_light';
  src: url('../source/prompt/Prompt-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prompt_regular';
  src: url('../source/prompt/Prompt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prompt_medium';
  src: url('../source/prompt/Prompt-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
